<main class='auth-form {{className}}'>
    <form class='form'>
        <h3 class='form-title'>
            {{title}}
        </h3>
        <div class='field-wrapper'>
            {{{fields}}}
        </div>
        <div class='form-actions'>
            {{{button}}}
            {{{link}}}
        </div>
    </form>
</main>