<div class="messages-header">
    <div class="user">
        <div class="avatar">
            <img class="img" src="{{avatar}}" alt="avatar">
        </div>
        <div class="user-name">{{{title}}} ( Пользователей в чате: {{usersCount}} )</div>
    </div>
    <div class="custom-select">
        {{{button}}}
        <div class="select-dropdown">
            <div class="select-option add" data-value="add-user">Добавить пользователя</div>
            <div class="select-option delete" data-value="delete-user">Удалить пользователя</div>
            <div class="select-option delete" data-value="delete-chat">Удалить чат</div>
        </div>
    </div>
    {{{modal}}}
</div>
