<main class='user-settings-page'>
    {{{goBack}}}
    <div class='wrapper'>
        <div class='header'>
            {{{avatarEdit}}}
            <span class='header-name'>
                {{user.first_name}} ( ID: {{user.id}} )
            </span>
        </div>

        <ul class='list'>
            {{{listItems}}}
        </ul>

        <ul class='list'>
            <li class='list-item'>
                {{{linkEditData}}}
            </li>
            <li class='list-item'>
                {{{linkEditPassword}}}
            </li>
            <li class='list-item'>
                {{{linkExit}}}
            </li>
        </ul>
    </div>
</main>
