<main class='user-settings-page'>
    {{{goBack}}}
    <div class='wrapper'>
        <form class='header'>
            <label class='upload-photo'>
                <input type='file' accept='image/*' />
            </label>
            <span class='header-name'>
                Иван
            </span>
        </form>

        <ul class='list'>
            {{{listItems}}}
        </ul>

        <ul class='list'>
            <li class='list-item'>
                {{{linkEditData}}}
            </li>
            <li class='list-item'>
                {{{linkEditPassword}}}
            </li>
            <li class='list-item'>
                {{{linkExit}}}
            </li>
        </ul>
    </div>
</main>
