<dialog class="base-modal {{className}}">
    <h2 class="title">{{{title}}}</h2>
    <form class="form">
        {{{field}}}
        <div class="btn-wrapper">
            {{{btnCreate}}}
            {{{btnClose}}}
        </div>
    </form>
</dialog>
