<div class="chat-list-page">
    <div class="chat-header">
        {{{button}}}
        {{{searchChats}}}
        {{{createChatBtn}}}
    </div>
    {{{chats}}}
    {{{messages}}}
    {{{emptyCorrespondence}}}
    {{{modalCreateChat}}}
</div>
